<!DOCTYPE html>

<html>
<head>
  <%- include('./template/header') %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <%- include('./template/nav_admin') %>
  <main>
    <section>
      <div class="add-btn"><a class="btn btn-info" href="/add_lottery">新增獎項</a></div>
      <div class="table">
        <table>
          <tr>
            <th>獎項</th>
            <th>描述</th>
            <th>獎項圖片</th>
            <th>機率(%)</th>
            <th></th>
          </tr>
          <% prizes.forEach((prize) => { %>
          <tr>
            <td><%= prize.prize %></td>
            <td><%= prize.description %></td>
            <td><%= prize.image %></td>
            <td><%= prize.probability %></td>
            <td>
              <a href="/update_lottery/<%= prize.id %>">編輯</a>
              <a href="/delete_lottery/<%= prize.id %>">刪除</a>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </section>
  </main>
  <%- include('./template/footer') %>
</body>
</html>