<!DOCTYPE html>

<html>
<head>
  <%- include('./template/header') %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <%- include('./template/nav_admin') %>
  <main>
    <section>
      <div class="add-btn"><a class="btn btn-info" href="/add_faq">新增問題</a></div>
      <div class="table">
        <table>
          <tr>
            <th>標題</th>
            <th>內容</th>
            <th>順序</th>
            <th></th>
          </tr>
          <% faqs.forEach((faq) => { %>
          <tr>
            <td><%= faq.title %></td>
            <td class="admin_faq-content"><%= faq.content %></td>
            <td><%= faq.order %></td>
            <td>
              <a href="/update_faq/<%= faq.id %>">編輯</a>
              <a href="/delete_faq/<%= faq.id %>">刪除</a>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </section>
  </main>
  <%- include('./template/footer') %>
</body>
</html>